.main {
    background-color: #1B065E;
}

.header{

    width: 80%;
    margin: auto;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    
}

.btn button{
    margin-left: 10px;
    background-color: red;
    font-weight: bolder;
    color: white;
    padding: 5px 12px;
    border-radius: 6px;
}

.btn button:hover{
    color: gray;
}